body {
    width: 100%;
    background-image: url('../assets/bighat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.choixpeau {
    display: flex;
    justify-content: center;
}

button {
    width: 55%;
    height: 60%;
    padding-bottom: 500px;
    opacity: 0;
    position: absolute;
    z-index: 5;
}

#bullecontenaire {
    position: relative;
    margin-left: 137px;
}


#bulle {
    max-width: 55%;
    max-height: 52vh;
}

#houseNum {
    position: absolute;
    left: 4%;
    bottom: 50%;
    max-width: 35%;
}