body {
    width: 100%;
    background-image: url('../assets/bighat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.choixpeau {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

button {
    width: 55%;
    height: 60%;
    padding-bottom: 500px;
    opacity: 0;
}

#bullecontenaire {
    border: 1px solid black;
    width: fit-content;
}

.text{
    position: absolute;
    position: absolute;
    top: 60px;
    left: 195px;
    max-width: auto;
    width: fit-content
}

img {
    max-width: 65%;
    margin-left: 100px;
}

h1 {
    position: absolute;
    left: 275px;
    bottom: 500px;
}